.barber_signin_container {
    width: 100%;
    height: var(--primary-height);
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.barber_signin_container_left {
    height: var(--primary-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.2);

    &>img {
        width: 50%;
        height: 50%;
    }
}

.barber_signin_container_right {
    height: var(--primary-height);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.barber_signin_content_main {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &>p:nth-child(1) {
        text-align: center;
        font-size: var(--primary-text);
        font-weight: 600;
    }
}

.barber_email_selection_container {
    height: 4rem;
    position: relative;
    cursor: pointer;

    &>input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 0.1px solid rgba(0, 0, 0, 0.6);
        font-size: var(--content-text);
        outline: none;
    }

    &>input[type="text"]:focus {
        border-bottom: 0.1rem solid #0A84FF;
    }

    &>div:nth-child(2) {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 0rem;
        right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--content-text);
    }

    .barber_email_selection_dropdown {
        position: absolute;
        top: 5rem;
        left: 0px;
        right: 0px;
        height: 25rem;
        box-shadow: var(--cmmn-box-shadow-y);
        border-radius: var(--primary-radius, 0.6rem);
        -webkit-border-radius: var(--primary-radius, 0.6rem);
        -moz-border-radius: var(--primary-radius, 0.6rem);
        -ms-border-radius: var(--primary-radius, 0.6rem);
        -o-border-radius: var(--primary-radius, 0.6rem);
        padding: 1rem;
        background-color: #fff;
        z-index: 100;
        overflow: auto;

        .barber_dropdown_item{
            height: 4rem;
            align-content: center;
            padding-inline: 1rem;
            border-radius: var(--tertiary-radius);
            -webkit-border-radius: var(--tertiary-radius);
            -moz-border-radius: var(--tertiary-radius);
            -ms-border-radius: var(--tertiary-radius);
            -o-border-radius: var(--tertiary-radius);
            cursor: pointer;
            margin-bottom: 1rem;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);

            &:hover{
                background-color: var(--primary-color);

                &>p {
                    color: #fff;
                }
            }

            &>p {
                font-size: var(--content-text);
                font-weight: 500;
            }
        }
    }
}

.barber_email_selection_dropdown_loading {
    height: 100%;
    width: 100%;
}

.password_container {
    height: 4rem;
    position: relative;

    &>input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);
        font-size: var(--content-text);
        outline: none;
    }

    &>input[id="input_password"]:focus {
        border-bottom: 0.1rem solid var(--primary-color);
    }

    &>div {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 0rem;
        right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--content-text);
        cursor: pointer;
    }

}


.signin_btn {
    height: 4rem;
    width: 100%;
    margin-top: 1rem;
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--tertiary-radius);
    -webkit-border-radius: var(--tertiary-radius);
    -moz-border-radius: var(--tertiary-radius);
    -ms-border-radius: var(--tertiary-radius);
    -o-border-radius: var(--tertiary-radius);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--content-text);

    &:hover{
        background-color: var(--primary-color);
        color: #fff;
    }
}


.barber_email_selection_dropdown_error {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    &>p {
        font-size: var(--content-error-text);
        font-weight: 500;
    }
}

.skeleton{
    height: 4rem !important;
    margin-bottom: 1rem;
}

@media screen and (min-width:0px) and (max-width:430px){
    .barber_signin_container {
        grid-template-columns: 1fr;
    }

    .barber_signin_container_left {
        display: none;
    }

    .barber_signin_content_main {
        width: 85vw;
    }
}

@media screen and (min-width:431px) and (max-width:768px){
    .barber_signin_container {
        grid-template-columns: 1fr;
    }

    .barber_signin_container_left {
        display: none;
    }

    .barber_signin_content_main {
        width: 65vw;
    }
}

@media screen and (min-width:769px) and (max-width:1000px){
    .barber_signin_container {
        grid-template-columns: 1fr;
    }

    .barber_signin_container_left {
        display: none;
    }

    .barber_signin_content_main {
        width: 45vw;
    }
}

@media screen and (min-width:1001px) and (max-width:1250px){
    .barber_signin_content_main {
        width: 65%;
    }
}
