/* .barber__signin__main__container {
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 65.9rem calc(100% - 65.9rem);
    overflow: hidden;
}

.barber__signin__main__left {
    background-color: var(--secondary-color);
    border-right: 2px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.barber__signin__main__left>img {
    width: 100%;
    height: 100%;
}

.barber__signin__main__right {
    height: 100vh !important;
    position: relative;
}

.barber__signin__main__right>h1 {
    text-align: center;
    margin-top: 14.7rem;
    font-size: 4rem;
    font-weight: bold;
}

.barber__signin__main__form {
    width: 85%;
    height: 30rem;
    margin: auto;
    margin-top: 5rem;
}

.barber__signin__main__form>div>h1 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.barber__signin__main__form>div>div {
    height: 4.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.barber__signin__main__form>div>div>input {
    height: 4.4rem;
    width: 90%;
    background-color: var(--secondary-color);
    border: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-inline: 1rem;
}

.barber__signin__main__form>div>div>div {
    height: 4.4rem;
    width: 10%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
}

.barber__signin__main__form>div:nth-child(2)>input {
    height: 4.4rem;
    width: 100%;
    border-radius: 2rem;
    border: none;
    padding-inline: 1rem;
    background-color: var(--tertiary-color);
    color: var(--tertiary-color-2);
    margin-bottom: 4rem;
}

.barber__signin__main__form>div:nth-child(3) {
    height: 4.4rem;
    width: 32.4rem;
    margin: auto;
    margin-top: 2rem;
}

.barber__signin__main__form>div:nth-child(3)>button {
    height: 4.4rem;
    width: 32.4rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
}

.barber__signin__main__form>div:nth-child(3)>button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.barber__signin__main__form_dropdown {
    height: calc(20rem - 1.2rem);
    ;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

.barber__signin__main__form_dropdown>div {
    height: 3.8rem;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border-radius: 0.2rem;
}

.barber__signin__main__form_dropdown>div>h2 {
    font-size: 2rem;
    font-weight: 500;
}

.barber__signin__main__form_dropdown>div:hover {
    color: orangered;
}

.barber__signin__main__form>div:nth-child(3)>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: auto;
    border-radius: 20px;
}

.barbersigniniconClassQueue{
    position: absolute;
    left: 2rem;
    top: 2rem;
    font-size: 4rem;
    color: black;
}

.barberemail_selection{
    position: relative !important;
}

.barber__signin__main__form_dropdown{
    position: absolute;
    top: 5.4rem;
    left: 0px;
    z-index: 2;
    background-color: #fff;
}


@media((min-width:430px) and (max-width:940px)) {
    .barber__signin__main__container {
        height: 100vh;
        width: 100vw;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .barber__signin__main__left {
        height: 40vh;
        background-color: var(--secondary-color);
        border-right: 2px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        display: none;
    }

    .barber__signin__main__left>img {
        width: 60%;
        height: 100%;
    }

    .barber__signin__main__right {
        height: 60vh;
    }

    .barber__signin__main__right>h1 {
        text-align: center;
        margin-top: 14.7rem;
        font-size: 4rem;
        font-weight: bold;
    }

    .barber__signin__main__form {
        width: 85%;
        height: 30rem;
        margin: auto;
        margin-top: 3rem;
    }

    .barber__signin__main__form>div>h1 {
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .barber__signin__main__form>div>div {
        height: 4.4rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 2rem;
        margin-bottom: 3rem;
    }

    .barber__signin__main__form>div>div>input {
        height: 4.4rem;
        width: 90%;
        background-color: var(--secondary-color);
        border: none;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding-inline: 1rem;
    }

    .barber__signin__main__form>div>div>div {
        height: 4.4rem;
        width: 10%;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        cursor: pointer;
    }

    .barber__signin__main__form>div:nth-child(2)>input {
        height: 4.4rem;
        width: 100%;
        border-radius: 2rem;
        border: none;
        padding-inline: 1rem;
        background-color: var(--tertiary-color);
        color: var(--tertiary-color-2);
        margin-bottom: 4rem;
    }

    .barber__signin__main__form>div:nth-child(3) {
        height: 4.4rem;
        width: 32.4rem;
        margin: auto;
        margin-top: 2rem;
    }

    .barber__signin__main__form>div:nth-child(3)>button {
        height: 4.4rem;
        width: 32.4rem;
        border-radius: 2rem;
        border: 1px solid var(--primary-color);
        cursor: pointer;
        background-color: var(--secondary-color);
        font-size: 2rem;
        font-weight: 500;
    }

    .barber__signin__main__form>div:nth-child(3)>button:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    .barber__signin__main__form_dropdown {
        height: calc(20rem - 1.2rem);
        ;
        width: 100%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: scroll;
    }

    .barber__signin__main__form_dropdown>div {
        height: 3.8rem;
        display: flex;
        align-items: center;
        padding-inline: 1rem;
        border-radius: 0.2rem;
    }

    .barber__signin__main__form_dropdown>div>h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    .barber__signin__main__form_dropdown>div:hover {
        color: orangered;
    }

    .barber__signin__main__form>div:nth-child(3)>div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        height: auto;
        border-radius: 20px;
    }

}

@media((min-width:0px) and (max-width:430px)) {
    .barber__signin__main__container {
        height: 100vh;
        width: 100vw;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .barber__signin__main__left {
        height: 40vh;
        background-color: var(--secondary-color);
        border-right: 2px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        display: none;
    }

    .barber__signin__main__left>img {
        width: 90%;
        height: 100%;
    }

    .barber__signin__main__right {
        height: 60vh;
    }

    .barber__signin__main__right>h1 {
        text-align: center;
        margin-top: 14.7rem;
        font-size: 4rem;
        font-weight: bold;
    }

    .barber__signin__main__form {
        width: 85%;
        height: auto;
        margin: auto;
        margin-top: 5rem;
    }

    .barber__signin__main__form>div>h1 {
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .barber__signin__main__form>div>div {
        height: 6rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 2rem;
        margin-bottom: 3rem;
    }

    .barber__signin__main__form>div>div>input {
        height: 6rem;
        width: 90%;
        background-color: var(--secondary-color);
        border: none;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding-inline: 1rem;
    }

    .barber__signin__main__form>div>div>div {
        height: 6rem;
        width: 10%;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        cursor: pointer;
    }

    .barber__signin__main__form>div:nth-child(2)>input {
        height: 6rem;
        width: 100%;
        border-radius: 2rem;
        border: none;
        padding-inline: 1rem;
        background-color: var(--tertiary-color);
        color: var(--tertiary-color-2);
        margin-bottom: 4rem;
    }

    .barber__signin__main__form>div:nth-child(3) {
        height: 6rem;
        width: 32.4rem;
        margin: auto;
        margin-top: 2rem;
    }

    .barber__signin__main__form>div:nth-child(3)>button {
        height: 6rem;
        width: 32.4rem;
        border-radius: 2rem;
        border: 1px solid var(--primary-color);
        cursor: pointer;
        background-color: var(--secondary-color);
        font-size: 2rem;
        font-weight: 500;
    }

    .barber__signin__main__form>div:nth-child(3)>button:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    .barber__signin__main__form_dropdown {
        height: calc(20rem - 1.2rem);
        ;
        width: 100%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: scroll;
    }

    .barber__signin__main__form_dropdown>div {
        height: 3.8rem;
        display: flex;
        align-items: center;
        padding-inline: 1rem;
        border-radius: 0.2rem;
    }

    .barber__signin__main__form_dropdown>div>h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    .barber__signin__main__form_dropdown>div:hover {
        color: orangered;
    }

    .barber__signin__main__form>div:nth-child(3)>div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        height: auto;
        border-radius: 20px;
    }
} */

.barber_signin_container {
    height: calc(100vh - 7rem);
    display: grid;
    grid-template-columns: 65rem calc(100% - 65rem);
}

.barber_signin_container_left {
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
        width: 70%;
        height: auto;
    }
}

.barber_signin_container_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barber_signin_content_main {
    height: auto;
    width: 70%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    &>p:nth-child(1) {
        font-size: 1.8vw;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.barber_email_selection_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    position: relative;

    &>input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        font-size: 1vw;
    }

    &>input[type="text"]:focus {
        border-bottom: 1px solid #0A84FF;
    }

    &>div:nth-child(2) {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        font-size: 1.4vw;
        cursor: pointer;
    }

    .barber_email_selection_dropdown {
        position: absolute;
        top: 5rem;
        left: 0px;
        right: 0px;
        height: 25rem;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        padding: 1rem;
        background-color: #fff;
        z-index: 100;
        overflow: auto;

        .barber_dropdown_item {
            height: 4rem;
            align-content: center;
            padding-inline: 1rem;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            cursor: pointer;
            margin-bottom: 1rem;
            transition: 0.3s all ease;
            -webkit-transition: 0.3s all ease;
            -moz-transition: 0.3s all ease;
            -ms-transition: 0.3s all ease;
            -o-transition: 0.3s all ease;

            &:hover {
                background-color: #0A84FF;

                &>p {
                    color: #fff;
                }
            }

            &>p {
                font-size: 0.9vw;
                font-weight: 500;
            }
        }
    }
}

.barber_email_selection_dropdown_loading {
    height: 100%;
    width: 100%;
}

.password_container {
    margin-top: 1rem;
    background-color: rgba(0, 0, 255, 0.206);
    height: 4rem;
    margin-bottom: 2rem;
    position: relative;

    &>input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        font-size: 1vw;
    }

    &>input[id="input_password"]:focus {
        border-bottom: 1px solid #0A84FF;
    }

    &>div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        right: 5px;
        font-size: 2.4rem;
        cursor: pointer;
    }

}

.signin_btn {
    height: 5rem;
    width: 25rem;
    display: block;
    margin: auto;
    margin-top: 4rem;
    background-color: #0A84FF;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 1vw;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);


    &:hover {
        background-color: #0a84ffc4;
    }
}

/* Skeleton container */
.skeleton {
    width: 100%;
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

/* Shimmer effect */
.skeleton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    animation: shimmer 1.5s infinite ease-in-out;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.barber_email_selection_dropdown_error {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    &>p {
        font-size: 0.9vw;
        font-weight: 500;
    }
}

@media screen and (min-width:0px) and (max-width:430px) {
    .barber_signin_container {
        grid-template-columns: 1fr;
    }

    .barber_signin_container_left {
        display: none;
    }

    .barber_signin_content_main {
        width: 80%;

        &>p:nth-child(1) {
            font-size: 4vw;
        }
    }

    .barber_email_selection_container {
        &>input {
            font-size: 2.8vw;
        }

        .barber_email_selection_dropdown {
            .barber_dropdown_item {
                &>p {
                    font-size: 2.8vw;
                }
            }
        }

        &>div:nth-child(2) {
            font-size: 2.8vw;
        }
    }

    .password_container {
        &>input {
            font-size: 2.8vw;
        }

        &>div {
            font-size: 2.8vw;
        }

    }

    .signin_btn {
        font-size: 2.8vw;
    }
}

@media screen and (min-width:431px) and (max-width:834px) {
    .barber_signin_container {
        grid-template-columns: 1fr;
    }

    .barber_signin_container_left {
        display: none;
    }

    .barber_signin_content_main {
        width: 70%;

        &>p:nth-child(1) {
            font-size: 2.8vw;
        }
    }

    .barber_email_selection_container {
        &>input {
            font-size: 1.8vw;
        }

        .barber_email_selection_dropdown {
            .barber_dropdown_item {
                &>p {
                    font-size: 1.8vw;
                }
            }
        }

        &>div:nth-child(2) {
            font-size: 1.8vw;
        }
    }

    .password_container {
        &>input {
            font-size: 1.8vw;
        }

        &>div {
            font-size: 1.8vw;
        }

    }

    .signin_btn {
        font-size: 1.8vw;
    }
}

@media screen and (min-width:835px) and (max-width:1250px) {
    .barber_signin_container {
        grid-template-columns: 50rem calc(100% - 50rem);
    }
}