.admin__signin__main__container {
    height: 100svh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admin__signin__main__left {
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.2);

    &>img {
        width: 50%;
        height: 50%;
    }
}


.admin__signin__main__right {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin_signin_form_container {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &>div:nth-child(1) {
        height: 12rem;
        width: 12rem;
        margin-inline: auto;

        &>img {
            width: 100%;
            height: 100%;
        }
    }
}

.email_container {
    height: 4rem;

    &>input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 0.1px solid rgba(0, 0, 0, 0.6);
        font-size: var(--content-text);
        outline: none;
    }

    &>input[type="text"]:focus {
        border-bottom: 0.1rem solid var(--primary-color);
    }
}

.password_container {
    background-color: rgba(0, 0, 255, 0.206);
    height: 4rem;
    position: relative;

    &>input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);
        font-size: var(--content-text);
        outline: none;
    }

    &>input[id="input_password"]:focus {
        border-bottom: 0.1rem solid var(--primary-color);
    }

    &>div {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 0rem;
        right: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--content-text);
        cursor: pointer;
    }

}

.signin_btn {
    height: 4rem;
    width: 100%;
    margin-top: 1rem;
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--tertiary-radius);
    -webkit-border-radius: var(--tertiary-radius);
    -moz-border-radius: var(--tertiary-radius);
    -ms-border-radius: var(--tertiary-radius);
    -o-border-radius: var(--tertiary-radius);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--content-text);

    &:hover{
        background-color: var(--primary-color);
        color: #fff;
    }
}

.rolediv {
    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 2rem;

        &>div {
            display: flex;
            align-items: center;
            gap: 1rem;

            &>input {
                width: var(--primary-text);
                height: var(--primary-text);
                accent-color: var(--primary-color);
                cursor: pointer;
            }

            &>p {
                font-size: var(--content-text);
                font-weight: 500;
            }
        }
    }
}

@media screen and (min-width:0px) and (max-width:430px){
    .admin__signin__main__container {
        grid-template-columns: 1fr;
    }

    .admin__signin__main__left {
        display: none;
    }

    .admin_signin_form_container {
        width: 85vw;
    }
}

@media screen and (min-width:431px) and (max-width:768px){
    .admin__signin__main__container {
        grid-template-columns: 1fr;
    }

    .admin__signin__main__left {
        display: none;
    }

    .admin_signin_form_container {
        width: 65vw;
    }
}

@media screen and (min-width:769px) and (max-width:1000px){
    .admin__signin__main__container {
        grid-template-columns: 1fr;
    }

    .admin__signin__main__left {
        display: none;
    }

    .admin_signin_form_container {
        width: 45vw;
    }
}

@media screen and (min-width:1001px) and (max-width:1250px){
    .admin_signin_form_container {
        width: 65%;
    }
}
