
    .joinqueue__main__container {
        height: 100vh;
        width: 100%;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-columns: 43.2rem calc(100% - 43.2rem);
        overflow-y: hidden;
    }

    .joinqueue__main__left {
        background-color: var(--secondary-color);
        border-right: 2px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .joinqueue__main__left>img {
        width: 100%;
        height: 100%;
        margin-left: 5rem;
    }

    .joinqueue__main__right {
        background-color: var(--secondary-color);
        position: relative;
    }

    .joinqueue__main__right>h1 {
        font-size: 4rem;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 12.5rem;
        transform: translateX(-50%);
    }

    .joinqueue__main__right__form {
        height: 60vh;
        width: 67.4rem;
        margin: auto;
        margin-top: 20rem;
    }

    .joinqueue__main__right__form_top {
        display: grid;
        grid-template-columns: 31.7rem 31.7rem;
        gap: 4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_top>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_top>div>input {
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
        padding-inline: 1rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_top>div>input::placeholder {
        color: var(--tertiary-color-2);
    }

    .joinqueue__main__right__form_middle {
        display: grid;
        grid-template-columns: 67.4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_middle>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_middle>div>input {
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
        padding-inline: 1rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_bottom {
        display: grid;
        grid-template-columns: 31.7rem 31.7rem;
        gap: 4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_bottom>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_bottom>div>div {
        width: 100%;
        background-color: var(--tertiary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
    }

    .joinqueue__main__right__form_bottom>div>div>input {
        height: 100%;
        width: 85%;
        padding-inline: 1rem;
        border-top-left-radius: 3.2rem;
        border-bottom-left-radius: 3.2rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_bottom>div>div>div {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .joinqueuebtn {
        width: 32.4rem;
        height: 4.4rem;
        margin-left: 17rem;
        margin-top: 3rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border: none;
        border-radius: 3.2rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .select_barber_container {
        margin-top: 2rem;
        height: 78%;
        width: 100%;
        overflow-y: scroll;
    }

    .select_barber_item {
        height: 14rem;
        width: 98%;
        margin: auto;
        margin-top: 1rem;
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 2rem;
        border-radius: 1.2rem;
    }

    .select_barber_item_top {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-block: 0.5rem;
        padding-inline: 1rem;
    }

    .select_barber_item_top>div:nth-child(1) {
        height: 6.1rem;
        width: 6.1rem;
        border-radius: 50%;
    }

    .select_barber_item_top>div:nth-child(1)>img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .select_barber_item_top>div:nth-child(2)>p {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_top_border {
        background-color: var(--primary-color);
        width: 95%;
        margin: auto;
        height: 1px;
    }

    .select_barber_item_bottom {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        gap: 1.5rem;
    }

    .select_barber_item_bottom>div:nth-child(1) {
        width: 45%;
    }

    .select_barber_item_bottom>div:nth-child(1)>p {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_bottom>div:nth-child(1)>p:nth-child(3) {
        font-size: 1.7rem;
    }

    .select_barber_item_bottom_border {
        background-color: var(--primary-color);
        width: 1px;
        height: 4rem;
    }

    .select_barber_item_bottom>div:nth-child(3) {
        width: 45%;
    }

    .select_barber_item_bottom>div:nth-child(3)>p {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_bottom>div:nth-child(3)>p:nth-child(3) {
        font-size: 1.7rem;
    }

    .select_barber_services_btn {
        width: 19.3rem;
        height: 4.8rem;
        margin: auto;
        margin-top: 1rem;
        cursor: pointer;
    }

    .select_barber_services_btn>button {
        width: 19.3rem;
        height: 4.8rem;
        border-radius: 2rem;
        border: none;
        border: 1px solid var(--primary-color);
        background-color: var(--secondary-color);
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
        margin: auto;
    }

    .select_barber_services_container {
        margin-top: 2rem;
        height: 78%;
        width: 100%;
        overflow-y: scroll;
    }

    .select_barber_services_item {
        height: 12rem;
        width: 98%;
        margin: auto;
        margin-top: 1rem;
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 2rem;
        border-radius: 1.2rem;
        padding: 1rem;
    }

    .select_barber_services_item_header {
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.3fr;
    }

    .select_barber_services_item_content {
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.3fr;
    }

    .select_barber_services_item_content>h1 {
        font-weight: 500;
    }

    .select_barber_services_item>div:nth-child(3) {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .select_barber_services_item>div:nth-child(3)>h1 {
        font-weight: 500;
    }

    .select_barber_services_item>div:nth-child(3)>p {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .select_barber_services_item_content>div {
        background-color: var(--secondary-color);
        cursor: pointer;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
    }

    .select__barber__modal2__head {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .select__barber__modal2__head>div {
        height: 2.5rem;
        width: 2.5rem;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        font-size: 1.6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

@media((min-width:430px) and (max-width:940px)) {
    .joinqueue__main__container {
        height: 100vh;
        width: 100%;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: hidden;
    }

    .joinqueue__main__left {
        height: 40vh;
        background-color: var(--secondary-color);
        border-right: 2px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
    }

    .joinqueue__main__left>img {
        width: 60%;
        height: 100%;
        margin-left: 5rem;
    }

    .joinqueue__main__right {
        height: 60vh;
        background-color: var(--secondary-color);
        position: relative;
    }

    .joinqueue__main__right>h1 {
        font-size: 4rem;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 12.5rem;
        transform: translateX(-50%);
    }

    .joinqueue__main__right__form {
        height: 60vh;
        width: 67.4rem;
        margin: auto;
        margin-top: 20rem;
    }

    .joinqueue__main__right__form_top {
        display: grid;
        grid-template-columns: 31.7rem 31.7rem;
        gap: 4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_top>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_top>div>input {
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
        padding-inline: 1rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_top>div>input::placeholder {
        color: var(--tertiary-color-2);
    }

    .joinqueue__main__right__form_middle {
        display: grid;
        grid-template-columns: 67.4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_middle>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_middle>div>input {
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
        padding-inline: 1rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_bottom {
        display: grid;
        grid-template-columns: 31.7rem 31.7rem;
        gap: 4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_bottom>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_bottom>div>div {
        width: 100%;
        background-color: var(--tertiary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
    }

    .joinqueue__main__right__form_bottom>div>div>input {
        height: 100%;
        width: 85%;
        padding-inline: 1rem;
        border-top-left-radius: 3.2rem;
        border-bottom-left-radius: 3.2rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_bottom>div>div>div {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .joinqueuebtn {
        width: 32.4rem;
        height: 4.4rem;
        margin-left: 17rem;
        margin-top: 3rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border: none;
        border-radius: 3.2rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .select_barber_container {
        margin-top: 2rem;
        height: 78%;
        width: 100%;
        overflow-y: scroll;
    }

    .select_barber_item {
        height: 14rem;
        width: 98%;
        margin: auto;
        margin-top: 1rem;
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 2rem;
        border-radius: 1.2rem;
    }

    .select_barber_item_top {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-block: 0.5rem;
        padding-inline: 1rem;
    }

    .select_barber_item_top>div:nth-child(1) {
        height: 6.1rem;
        width: 6.1rem;
        border-radius: 50%;
    }

    .select_barber_item_top>div:nth-child(1)>img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .select_barber_item_top>div:nth-child(2)>p {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_top_border {
        background-color: var(--primary-color);
        width: 95%;
        margin: auto;
        height: 1px;
    }

    .select_barber_item_bottom {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        gap: 1.5rem;
    }

    .select_barber_item_bottom>div:nth-child(1) {
        width: 45%;
    }

    .select_barber_item_bottom>div:nth-child(1)>p {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_bottom>div:nth-child(1)>p:nth-child(3) {
        font-size: 1.7rem;
    }

    .select_barber_item_bottom_border {
        background-color: var(--primary-color);
        width: 1px;
        height: 4rem;
    }

    .select_barber_item_bottom>div:nth-child(3) {
        width: 45%;
    }

    .select_barber_item_bottom>div:nth-child(3)>p {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_bottom>div:nth-child(3)>p:nth-child(3) {
        font-size: 1.7rem;
    }

    .select_barber_services_btn {
        width: 19.3rem;
        height: 4.8rem;
        margin: auto;
        margin-top: 1rem;
        cursor: pointer;
    }

    .select_barber_services_btn>button {
        width: 19.3rem;
        height: 4.8rem;
        border-radius: 2rem;
        border: none;
        border: 1px solid var(--primary-color);
        background-color: var(--secondary-color);
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
        margin: auto;
    }

    .select_barber_services_container {
        margin-top: 2rem;
        height: 78%;
        width: 100%;
        overflow-y: scroll;
    }

    .select_barber_services_item {
        height: 12rem;
        width: 98%;
        margin: auto;
        margin-top: 1rem;
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 2rem;
        border-radius: 1.2rem;
        padding: 1rem;
    }

    .select_barber_services_item_header {
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.3fr;
    }

    .select_barber_services_item_content {
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.3fr;
    }

    .select_barber_services_item_content>h1 {
        font-weight: 500;
    }

    .select_barber_services_item>div:nth-child(3) {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .select_barber_services_item>div:nth-child(3)>h1 {
        font-weight: 500;
    }

    .select_barber_services_item>div:nth-child(3)>p {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .select_barber_services_item_content>div {
        background-color: var(--secondary-color);
        cursor: pointer;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
    }

    .select__barber__modal2__head {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .select__barber__modal2__head>div {
        height: 2.5rem;
        width: 2.5rem;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        font-size: 1.6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

@media((min-width:0px) and (max-width:430px)) {
    .joinqueue__main__container{
        grid-template-columns: 1fr;
    }
    .joinqueue__main__left{
        display: none;
    }

    .joinqueue__main__right__form{
        width: 95%;
    }

    .joinqueue__main__right__form_top{
        grid-template-columns: 1fr;
    }

    .joinqueue__main__right__form_middle {
        grid-template-columns: 1fr;
    }

    .joinqueue__main__right__form_bottom{
        grid-template-columns: 1fr;
    }

    .joinqueuebtn{
        margin: auto;
    }
}

/* @media((min-width:900px) and (max-width:940px)) {
    .joinqueue__main__container {
        height: 100vh;
        width: 100%;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-columns: 43.2rem calc(100% - 43.2rem);
        overflow: hidden;
    }

    .joinqueue__main__left {
        background-color: var(--secondary-color);
        border-right: 2px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .joinqueue__main__left>img {
        width: 100%;
        height: auto;
        margin-left: 5rem;
    }

    .joinqueue__main__right {
        background-color: var(--secondary-color);
        position: relative;
    }

    .joinqueue__main__right>h1 {
        font-size: 4rem;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 12.5rem;
        transform: translateX(-50%);
    }

    .joinqueue__main__right__form {
        height: 60vh;
        width: 67.4rem;
        margin: auto;
        margin-top: 20rem;
    }

    .joinqueue__main__right__form_top {
        display: grid;
        grid-template-columns: 31.7rem 31.7rem;
        gap: 4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_top>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_top>div>input {
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
        padding-inline: 1rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_top>div>input::placeholder {
        color: var(--tertiary-color-2);
    }

    .joinqueue__main__right__form_middle {
        display: grid;
        grid-template-columns: 67.4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_middle>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_middle>div>input {
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
        padding-inline: 1rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_bottom {
        display: grid;
        grid-template-columns: 31.7rem 31.7rem;
        gap: 4rem;
        margin-bottom: 2rem
    }

    .joinqueue__main__right__form_bottom>div>p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .joinqueue__main__right__form_bottom>div>div {
        width: 100%;
        background-color: var(--tertiary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.4rem;
        width: 100%;
        border-radius: 3.2rem;
    }

    .joinqueue__main__right__form_bottom>div>div>input {
        height: 100%;
        width: 85%;
        padding-inline: 1rem;
        border-top-left-radius: 3.2rem;
        border-bottom-left-radius: 3.2rem;
        border: none;
        background-color: var(--tertiary-color);
    }

    .joinqueue__main__right__form_bottom>div>div>div {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .joinqueuebtn {
        width: 32.4rem;
        height: 4.4rem;
        margin-left: 17rem;
        margin-top: 3rem;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border: none;
        border-radius: 3.2rem;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .select_barber_container {
        margin-top: 2rem;
        height: 78%;
        width: 100%;
        overflow-y: scroll;
    }

    .select_barber_item {
        height: 14rem;
        width: 98%;
        margin: auto;
        margin-top: 1rem;
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 2rem;
        border-radius: 1.2rem;
    }

    .select_barber_item:hover {
        background-color: var(--quarterny-color);
    }

    .select_barber_item_top {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-block: 0.5rem;
        padding-inline: 1rem;
    }

    .select_barber_item_top>div:nth-child(1) {
        height: 6.1rem;
        width: 6.1rem;
        border-radius: 50%;
    }

    .select_barber_item_top>div:nth-child(1)>img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .select_barber_item_top>div:nth-child(2)>p {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_top_border {
        background-color: var(--primary-color);
        width: 95%;
        margin: auto;
        height: 1px;
    }

    .select_barber_item_bottom {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        gap: 1.5rem;
    }

    .select_barber_item_bottom>div:nth-child(1) {
        width: 45%;
    }

    .select_barber_item_bottom>div:nth-child(1)>p {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_bottom>div:nth-child(1)>p:nth-child(3) {
        font-size: 1.7rem;
    }

    .select_barber_item_bottom_border {
        background-color: var(--primary-color);
        width: 1px;
        height: 4rem;
    }

    .select_barber_item_bottom>div:nth-child(3) {
        width: 45%;
    }

    .select_barber_item_bottom>div:nth-child(3)>p {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .select_barber_item_bottom>div:nth-child(3)>p:nth-child(3) {
        font-size: 1.7rem;
    }

    .select_barber_services_btn {
        width: 19.3rem;
        height: 4.8rem;
        margin: auto;
        margin-top: 1rem;
        cursor: pointer;
    }

    .select_barber_services_btn>button {
        width: 19.3rem;
        height: 4.8rem;
        border-radius: 2rem;
        border: none;
        border: 1px solid var(--primary-color);
        background-color: var(--secondary-color);
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
        margin: auto;
    }

    .select_barber_services_container {
        margin-top: 2rem;
        height: 78%;
        width: 100%;
        overflow-y: scroll;
    }

    .select_barber_services_item {
        height: 12rem;
        width: 98%;
        margin: auto;
        margin-top: 1rem;
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 2rem;
        border-radius: 1.2rem;
        padding: 1rem;
    }

    .select_barber_services_item:hover {
        background-color: var(--quarterny-color);
    }

    .select_barber_services_item_header {
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.3fr;
    }

    .select_barber_services_item_content {
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.3fr;
    }

    .select_barber_services_item_content>h1 {
        font-weight: 500;
    }

    .select_barber_services_item>div:nth-child(3) {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .select_barber_services_item>div:nth-child(3)>h1 {
        font-weight: 500;
    }

    .select_barber_services_item>div:nth-child(3)>p {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .select_barber_services_item_content>div {
        background-color: var(--secondary-color);
        cursor: pointer;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
    }

    .select__barber__modal2__head {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .select__barber__modal2__head>div {
        height: 2.5rem;
        width: 2.5rem;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
        font-size: 1.6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
} */

