.kiyosk_header {
    height: 7rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    background-color: #fff;

    &>div:nth-child(1) {
        &>p {
            color: #fff;
        }
    }
}


.kiyosk_header>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;

    &>div:nth-child(1) {
        width: 4.7rem;
        height: 4.7rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: var(--cmmn-box-shadow-y);
        cursor: pointer;

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    &>p {
        font-size: var(--content-text);
        font-weight: 600;
    }
}

.kiyosk_header>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 2rem;

    &>div:nth-child(1) {
        height: 4rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &>button {
            padding: var(--primary-padding);
            border-radius: var(--secondary-radius);
            -webkit-border-radius: var(--secondary-radius);
            -moz-border-radius: var(--secondary-radius);
            -ms-border-radius: var(--secondary-radius);
            -o-border-radius: var(--secondary-radius);
            border: none;
            cursor: pointer;
            font-size: var(--content-text);

            background-color: var(--secondary-color);
            border: 0.1rem solid var(--primary-color);
            color: var(--primary-color);
            font-weight: 500;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);

            &:hover {
                background-color: var(--primary-color);
                color: #fff;
            }
        }
    }

    &>div:nth-child(2) {
        padding: 0.6em 0.6em;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: var(--content-text);
        box-shadow: var(--cmmn-box-shadow-y);
        color: var(--primary-color);
        cursor: pointer;
        background-color: #fff;

        position: relative;

        .kiyosk_dropbox {
            z-index: 100;
            width: 18rem;
            position: absolute;
            right: 0rem;
            top: 5rem;
            background-color: #fff;
            padding: 1rem;
            border-radius: var(--tertiary-radius);
            -webkit-border-radius: var(--tertiary-radius);
            -moz-border-radius: var(--tertiary-radius);
            -ms-border-radius: var(--tertiary-radius);
            -o-border-radius: var(--tertiary-radius);
            box-shadow: var(--cmmn-box-shadow-y);

            &>div {
                display: flex;
                align-items: center;
                gap: 1rem;
                height: 4rem;
                transition: var(--btn-transition);
                -webkit-transition: var(--btn-transition);
                -moz-transition: var(--btn-transition);
                -ms-transition: var(--btn-transition);
                -o-transition: var(--btn-transition);

                &>div {
                    font-size: var(--btn-icon);
                    height: 4rem;
                    width: 4rem;
                    display: grid;
                    place-items: center;
                    color: black;
                }

                &>p {
                    font-size: var(--btn-text);
                    font-weight: 500;
                }

                &:hover {
                    background-color: var(--primary-color);
                    border-radius: var(--tertiary-radius);
                    -webkit-border-radius: var(--tertiary-radius);
                    -moz-border-radius: var(--tertiary-radius);
                    -ms-border-radius: var(--tertiary-radius);
                    -o-border-radius: var(--tertiary-radius);

                    &>div {
                        color: #fff;
                    }

                    &>p {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.back_btn {
    padding: var(--primary-padding);
    border-radius: var(--secondary-radius);
    -webkit-border-radius: var(--secondary-radius);
    -moz-border-radius: var(--secondary-radius);
    -ms-border-radius: var(--secondary-radius);
    -o-border-radius: var(--secondary-radius);
    border: none;
    cursor: pointer;
    font-size: var(--content-text);

    background-color: var(--quaternery-color);
    border: 0.1rem solid var(--tertiary-color);
    color: var(--tertiary-color);
    font-weight: 500;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &:hover {
        background-color: var(--tertiary-color);
        color: #fff;
    }
}

.mobile_queuelist,
.mobile_joinequeue {
    display: none !important;
}

.sytem_status.online{
    background-color: rgba(50, 205, 50, 0.105) !important;
    border: 0.1rem solid limegreen !important;
    color: limegreen !important;
    cursor: not-allowed !important;
}

.sytem_status.offline{
    background-color: rgba(255, 0, 0, 0.122) !important;
    border: 0.1rem solid red !important;
    color: red !important;
    cursor: not-allowed !important;
}



@media screen and (min-width:0px) and (max-width:1000px) {
    .kiyosk_header {
        height: 7rem;
        padding-inline: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .kiyosk_header>div:nth-child(2) {
        &>div:nth-child(1) {
            display: none;
        }
    }

    .kiyosk_dropbox {
        width: 20rem !important
    }

    .mobile_queuelist,
    .mobile_joinequeue {
        display: flex !important;
    }
}