.kiyosk_header {
    height: 7rem;
    background-color: #001F3F;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;

    &>div:nth-child(1) {
        &>p {
            color: #fff;
        }
    }
}


.kiyosk_header>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;

    &>div:nth-child(1) {
        width: 4.7rem;
        height: 4.7rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    &>p {
        font-size: 0.9vw;
        font-weight: 500;
    }
}

.kiyosk_header>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 2rem;

    &>div:nth-child(1) {
        width: 25rem;
        height: 4rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &>button {
            width: 12rem;
            height: 100%;
            background-color: #3A6D8C;
            border: none;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            font-size: 0.8vw;
            font-weight: bold;
            color: #fff;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }

    &>div:nth-child(2) {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
        display: grid;
        place-items: center;
        font-size: 2.5rem;
        color: blue;
        cursor: pointer;
        background-color: #fff;

        position: relative;

        .kiyosk_dropbox {
            z-index: 100;
            width: 18rem;
            position: absolute;
            right: 0rem;
            top: 5rem;
            background-color: #fff;
            padding: 1rem;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);

            &>div {
                display: flex;
                align-items: center;
                gap: 1rem;
                height: 4rem;

                &>div {
                    font-size: 2rem;
                    height: 4rem;
                    width: 4rem;
                    display: grid;
                    place-items: center;
                    color: black;
                }

                &>p {
                    font-size: 0.8vw;
                    font-weight: 500;
                }
            }
        }
    }
}

.kiyosk_dashboard_btn {
    width: 10rem;
    height: 4.5rem;
    background-color: #0a84ff;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 0.9vw;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.mobile_queuelist,
.mobile_joinequeue {
    display: none !important;
}



@media screen and (min-width:0px) and (max-width:430px) {
    .kiyosk_header {
        height: 7rem;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        background-color: #001F3F;
        padding-inline: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>div:nth-child(1) {
            gap: 2rem;

            &>p {
                font-size: 3.8vw;
            }
        }
    }

    .kiyosk_header>div:nth-child(2) {
        &>div:nth-child(1) {
            display: none;
        }
    }

    .kiyosk_dropbox {
        width: 28rem !important;

        &>div {
            height: 5rem !important;

            &>p {
                font-size: 3.2vw !important;
            }
        }
    }

    .mobile_queuelist,
    .mobile_joinequeue {
        display: flex !important;
    }

    .kiyosk_dashboard_btn {
        font-size: 3vw;
    }
}

@media screen and (min-width:431px) and (max-width:884px) {

    .kiyosk_header {
        height: 7rem;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        background-color: #001F3F;
        padding-inline: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>div:nth-child(1) {
            &>p {
                font-size: 1.8vw;
            }
        }
    }

    .kiyosk_header>div:nth-child(2) {
        &>div:nth-child(1) {
            display: none;
        }
    }

    .kiyosk_dropbox {
        width: 25rem !important;

        &>div {
            &>p {
                font-size: 1.4vw !important;
            }
        }
    }

    .mobile_queuelist,
    .mobile_joinequeue {
        display: flex !important;
    }

    .kiyosk_dashboard_btn {
        font-size: 1.6vw;
    }
}