/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: none;
}

h1,
h1,
h3,
h4,
h5,
h6,
p {
  color: #000;
}

input:focus {
  outline: none;
}

input {
  font-size: 1.4rem;
}


:root {
  font-size: 62.5%;
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #EEEDED;
  --tertiary-color-2: #A4A4A4;
  --tertiary-color-3: #3b3b3bca;
  --quarterny-color: #87a96b;
  --queue-modal-bg: #87a96b;
  --dashboard_bf-color: #F2F0F0;
}

.page_loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-international-phone-input-container .react-international-phone-input,
.react-international-phone-input-container .react-international-phone-country-selector-button {
  border: none !important;
  background: transparent !important;
}

.react-international-phone-input-container .react-international-phone-input {
  font-size: 0.9vw !important;
}

.react-international-phone-input-container {
  height: 4rem !important;
  font-size: 3vw !important;
  /* border-bottom: 1px solid red;  */
}

@media((min-width:0px) and (max-width:430px)) {
  :root {
    font-size: 38%;
  }

  input {
    font-size: 2rem;
  }

  .react-international-phone-country-selector-button {
    height: auto !important;
  }

  .react-international-phone-input-container .react-international-phone-input {
    height: auto !important;
    font-size: 3vw !important;
  }
}

@media screen and (min-width:431px) and (max-width:834px) {
  .react-international-phone-country-selector-button {
    height: auto !important;
  }

  .react-international-phone-input-container .react-international-phone-input {
    height: auto !important;
    font-size: 1.6vw !important;
  }
}

@media((min-width:430px) and (max-width:940px)) {
  :root {
    font-size: 45%;
  }

  input {
    font-size: 1.8rem;
  }
}

@media((min-width:940px) and (max-width:1200px)) {
  :root {
    font-size: 52.5%;
  }
}

@media((min-width:1200px) and (max-width:1490px)) {
  :root {
    font-size: 52.5%;
  }
}

/* @media screen and (min-width: 0px) and (max-width: 379px) {
  :root {
    font-size: 28%;
  }
}

@media screen and (min-width: 380px) and (max-width: 429px) {
  :root {
    font-size: 38%;
  }
} */






/* @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { */
/* high-resolution-specific styles */
/* } */