.selectSalonContainer {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selectSalonContainer>div:nth-child(1){
    border-right: 2px solid black;
    width: 100%;
    height: 100%;
}

.selectSalonContainer>div:nth-child(1)>img{
    width: 97%;
    height: 100%;
    margin-inline: auto;
}

.selectSalonContainer>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.selectSalonContainer>div:nth-child(2)>div{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.selectSalonContainer>div:nth-child(2)>div>h1{
    text-align: center;
    font-size: 2.4rem;
}

.selectSalonContainer>div:nth-child(2)>div>div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.selectSalonContainer>div:nth-child(2)>div>div>button{
    background-color: #fff;
    color: #000;
    height: 4rem;
    width: 14.4rem;
    margin: auto;
    border-radius: 6.5rem;
    cursor: pointer;
    border: 1px solid #000;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.selectSalonContainer>div:nth-child(2)>div>div>button:hover{
    background-color: #000;
    color: #fff;
}

.selectSalonContainer>div:nth-child(2)>div>div>p{
    font-size: 1.6rem;
    font-weight: bold;
}

.selectSalonContainer>div:nth-child(2)>div>div>p>span{
    font-size: 2rem;
    font-weight: bold;
}

.selectSalonContainer>div:nth-child(2)>div>div>div{
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 6.5rem;
    padding-inline: 1rem;
    position: relative;
}

.salondropdown_box{
    position: absolute;
    top: 5rem;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    border-radius: 3.2rem;
    overflow: auto;
}

.salondropdown_box>div{
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}


.salondropdown_box>div:hover{
    background-color: var(--quarterny-color);
    cursor: pointer;
}

.salondropdown_box>div:hover p{
    color: #fff !important;
}

.selectSalonContainer>div:nth-child(2)>div>div>div>p{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.selectSalonContainer>div:nth-child(2)>div>div>div>div{
    width: 10%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6.5rem;
    border-bottom-right-radius: 6.5rem;
    font-size: 2.4rem;
    cursor: pointer;
}

@media((min-width:0px) and (max-width:430px)){
    .selectSalonContainer{
        grid-template-columns: 1fr;
    }

    .selectSalonContainer>div:nth-child(1){
        display: none;
    }

    .selectSalonContainer>div:nth-child(2){
        height: 100vh;
        width: 100%;
    }
}

@media((min-width:430px) and (max-width:940px)){
    .selectSalonContainer{
        grid-template-columns: 1fr;
    }

    .selectSalonContainer>div:nth-child(1){
        display: none;
    }

    .selectSalonContainer>div:nth-child(2){
        height: 100vh;
        width: 100%;
    }
}