.selectSalonContainer {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selectSalonContainer>div:nth-child(1){
    border-right: 2px solid black;
    width: 100%;
    height: 100%;
}

.selectSalonContainer>div:nth-child(1)>img{
    width: 97%;
    height: 100%;
    margin-inline: auto;
}

.selectSalonContainer>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectSalonWrapper{
    width: 55rem;
    height: auto;
}

.selectSalonWrapper>h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

.selectSalonContent {
    width: 55rem;
    height: auto;
}

.salonlistdropdown__box__content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 55rem;
    /* height: 20rem; */
    font-size: 1.6rem;
    overflow: auto;
    margin-top: 1rem;
    border: 1px solid #00000041;
    background-color: #fff;
}

.salonlistdropdown__box__content>div {
    height: 40px;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border-top: 1px solid #00000079;
    cursor: pointer;
    background-color: #fff;
}

.salonlistdropdown__box>div:nth-child(1) {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    font-size: 1.6rem;
    border: 1px solid #00000041;
    cursor: pointer;
    background-color: #fff;
}

.applySalonClass {
    height: 40px;
    width: 100%;
    border: 1px solid #00000041;
    margin-top: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    background-color: #fff;
}

.selectSalonContent>h1 {
    margin-bottom: 3rem;
}

.selectSalonContent>h1>span {
    color: orangered;
}

@media((min-width:0px) and (max-width:430px)){
    .selectSalonContainer {
        grid-template-columns: 1fr;
    }

    .selectSalonContainer>div:nth-child(1){
        order: 2;
    }
}

@media((min-width:430px) and (max-width:1200px)){
    .selectSalonContainer {
        grid-template-columns: 1fr;
    }

    .selectSalonContainer>div:nth-child(1){
        order: 2;
        display: none;
    }

    .selectSalonContainer>div:nth-child(2) {
        margin-top: 4rem;
    }
}